*.aux
*.fdb_latexmk
*.log
*.synctex.gz
report.pdf
CMakefiles
build
doc/idea/base-eps-converted-to.pdf
doc/idea/idea.pdf
doc/idea/step1-eps-converted-to.pdf
doc/idea/step2-eps-converted-to.pdf
doc/idea/step3-eps-converted-to.pdf
doc/idea/step4-eps-converted-to.pdf
